/* FOOD SEARCH PAGE */
.food-search .favourites {
    background-color: #EEEEEE;
}

/* BITES PAGE */

#slider {
    width: 75%;
    float: left;
    margin: 40px 20px 20px 35px;
}

.btn-slider {
    margin-top: 29px;
}

.handle-tooltip {
    position: absolute;
    z-index: 1020;
    display: block;
    padding: 5px;
    font-size: 11px;
    visibility: visible;
    margin-top: -2px;
    bottom:120%;
    margin-left: -1.9em;
}

.ui-slider a {
    outline: none;
}

.handle-tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top: 5px solid #000000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    width: 0;
    height: 0;
}

.handle-tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #000000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.chart-info {
    margin: 0 40px 40px 40px;
}

/* LINE CHART */
path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

path.carbs {
    stroke: #489B3D;
}

path.fat {
    stroke: #AA3728;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 10px;
}

.area.fill {
    stroke: none;
    fill: #e5f3f9;
    fill-opacity: 0.5;
}
