.row-header {
    background-color: #CDCDCD;
}

/*FOOD SEARCH PAGE*/
.food-search .favourites {
    background-color: #EEEEEE;
}

/* BITES PAGE*/

#slider {
    margin-top: 30px;
}

.bites-results {
    margin-top: 30px;
}

/*LINE CHART*/
path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.line {
    vector-effect: non-scaling-stroke;
}

g .carbs {
    stroke: #489B3D;
}

g .fat {
    stroke: #AA3728;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 10px;
}
