<h2>{{food.name}}</h2>

<table>
    <tr>
        <th>Ravintotekijä</th>
        <th>Pitoisuus</th>
        <th>Yksikkö</th>
    </tr>
    <tr>
        <td colspan="3">Perusravintotekijät</td>
    </tr>
    <tr ng-repeat='item in ["energia, laskennallinen", "hiilihydraatti imeytyvä", "rasva", "proteiini"]'>
        <td>{{item}}</td>
        <td>{{food.data[item][0]}}</td>
        <td>{{food.data[item][1]}}</td>
    </tr>
    <tr>
        <td colspan="3">Vitamiinit</td>
    </tr>
    <tr ng-repeat='item in ["C-vitamiini", "D-vitamiini"]'>
        <td>{{item}}</td>
        <td>{{food.data[item][0]}}</td>
        <td>{{food.data[item][1]}}</td>
    </tr>
</table>

<a href="#/">Takaisin</a>
