<div class="row">
  <div class="span12">

    <div dateslider bind="slider" days="30" class="dateslider"></div>
    <button spin-when="bitesLoading" ng-click="getBites()" class="btn btn-large btn-warning btn-slider">Rajaa</button>


    <div ng-switch on="dates.length">
      <div ng-switch-when="0" class="alert alert-error" style="margin-top: 20px;">Ei annoksia valitulla aikavälillä.</div>
      <div ng-switch-default>
        <!-- Chart -->
        <div ng-switch on="chartToShow">

          <!-- Line chart -->
          <div ng-switch-when="linechart">
            <div linechart bind="lineChartData" selected="selectedLine" interpolation="linear" style="width:100%;height:300px;"></div>
            <div class="chart-info text-center">
              <div class="btn-group">
                <button disabled-on-resize ng-disabled="chartLoading" class="btn btn-primary" ng-click="selectedLine= selectedLine == 'kcal' ? null : 'kcal'" ng-class="{'disabled faded': selectedLine != 'kcal'}">Energia</button>
                <button disabled-on-resize ng-disabled="chartLoading" class="btn btn-success" ng-click="selectedLine= selectedLine == 'carbs' ? null : 'carbs'" ng-class="{'disabled faded': selectedLine != 'carbs'}">Hiilihydraatti</button>
                <button disabled-on-resize ng-disabled="chartLoading" class="btn btn-warning" ng-click="selectedLine= selectedLine == 'fat' ? null : 'fat'" ng-class="{'disabled faded': selectedLine != 'fat'}">Rasva</button>
                <button disabled-on-resize ng-disabled="chartLoading" class="btn btn-danger" ng-click="selectedLine= selectedLine == 'protein' ? null : 'protein'" ng-class="{'disabled faded': selectedLine != 'protein'}">Proteiini</button>
              </div>
            </div>
          </div>

          <!-- Bar chart -->
          <div ng-switch-when="barchart">
            <div barchart bind="barChartData" selected="selectedBar" style="width:100%;height:300px;"></div>
            <div class="chart-info text-center">
              <div class="btn-group">
                <button disabled-on-resize ng-disabled="chartLoading" class="btn btn-primary" ng-click="selectedBar=selectedBar == 'kcal' ? null : 'kcal'" ng-class="{'disabled faded': selectedBar != 'kcal'}">Energia</button>
                <button disabled-on-resize ng-disabled="chartLoading" class="btn btn-success" ng-click="selectedBar=selectedBar == 'carbs' ? null : 'carbs'" ng-class="{'disabled faded': selectedBar != 'carbs'}">Hiilihydraatti</button>
                <button disabled-on-resize ng-disabled="chartLoading" class="btn btn-warning" ng-click="selectedBar=selectedBar == 'fat' ? null : 'fat'" ng-class="{'disabled faded': selectedBar != 'fat'}">Rasva</button>
                <button disabled-on-resize ng-disabled="chartLoading" class="btn btn-danger" ng-click="selectedBar=selectedBar == 'protein' ? null : 'protein'" ng-class="{'disabled faded': selectedBar != 'protein'}">Proteiini</button>
              </div>
            </div>
          </div>
        </div>
        <button ng-click="toggleChart()" class="btn">Vaihda kaaviota</button>
        <!-- List of dates in the selected date range -->
        <table class="table">
          <tr>
            <th ng-click="datesOrder='date'; datesReverse=!datesReverse">Pvm <i class="icon" ng-class="{hidden:datesOrder != 'date', 'icon-arrow-down':datesReverse, 'icon-arrow-up':!datesReverse}"></i></th>
            <th ng-click="datesOrder='count'; datesReverse=!datesReverse">Annoksia <i class="icon" ng-class="{hidden:datesOrder != 'count', 'icon-arrow-down':datesReverse, 'icon-arrow-up':!datesReverse}"></i></th>
            <th ng-click="datesOrder='kcal'; datesReverse=!datesReverse">Energia <small>kcal</small> <i class="icon" ng-class="{hidden:datesOrder != 'kcal', 'icon-arrow-down':datesReverse, 'icon-arrow-up':!datesReverse}"></i></th>
            <th ng-click="datesOrder='carbs'; datesReverse=!datesReverse">Hiilihydraatti <small>g</small> <i class="icon" ng-class="{hidden:datesOrder != 'carbs', 'icon-arrow-down':datesReverse, 'icon-arrow-up':!datesReverse}"></i></th>
            <th ng-click="datesOrder='fat'; datesReverse=!datesReverse">Rasva <small>g</small> <i class="icon" ng-class="{hidden:datesOrder != 'fat', 'icon-arrow-down':datesReverse, 'icon-arrow-up':!datesReverse}"></i></th>
            <th ng-click="datesOrder='protein'; datesReverse=!datesReverse">Proteiini <small>g</small> <i class="icon" ng-class="{hidden:datesOrder != 'protein', 'icon-arrow-down':datesReverse, 'icon-arrow-up':!datesReverse}"></i></th>
          </tr>
          <tr ng-repeat="date in dates|orderBy:datesOrder:datesReverse">
            <td>{{date.date|date:"d.M.yy"}}</td>
            <td>{{date.count}}</td>
            <td>{{date.kcal}}</td>
            <td>{{date.carbs}}</td>
            <td>{{date.fat}}</td>
            <td>{{date.protein}}</td>
          </tr>
        </table>
      </div> <!-- /ng-switch-default -->
    </div> <!-- /ng-switch -->

  </div> <!-- /.span12 -->
</div> <!-- /.row -->
